[submodule "buildroot/opensbi-src"]
	path = buildroot/opensbi-src
	url = https://github.com/bjzhang/opensbi.git
	branch = rtt-openamp
[submodule "buildroot-src"]
	path = buildroot-src
	url = https://gitee.com/mirrors/buildroot.git
	branch = 2021.05.x
[submodule "port_linux/linux-src"]
	path = port_linux/linux-src
	url = https://gitee.com/bamvor/linux.git
	branch = rv64-openamp-port
[submodule "port_linux/libmetal-src"]
	path = port_linux/libmetal-src
	url = https://github.com/bjzhang/libmetal.git
	branch = rv64-openamp-port
[submodule "port_linux/open-amp-src"]
	path = port_linux/open-amp-src
	url = https://github.com/bjzhang/open-amp.git
	branch = rv64-openamp-port
[submodule "port_rtt/rt-thread-src"]
	path = port_rtt/rt-thread-src
	url = https://gitee.com/bamvor/rt-thread.git
	branch = rv64-openamp-port
[submodule "qemu-src"]
	path = qemu-src
	url = https://gitee.com/bamvor/qemu.git
	branch = open-amp-port
